/*  ##EA4748; /*Sandia*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Merriweather Sans', sans-serif;
} 
.sandia{
	color: #EA4748; /*Sandia*/
}
.navbar.navbar-default{
	background-color: transparent;
	border: none;
}
.navbar-header{
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.div-btn{
	width: 100%;
}
.navbar-header .collapsed{
	width: 100%;
	float: left;
}
#bs-example-navbar-collapse-1{
	width: 100%;
}
.menu{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav-news{
	border-bottom: 2px solid #EA4748; /*Sandia*/
}
.nav-menu{
	margin-bottom: 0;
}
/*********************************HEADER*******************************/
.header{
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
}
img.img-responsive{
	margin: 0;
	padding-bottom: 26px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.img-text{
	position: absolute;
	left: 15px;
	top: 0;
	background-color: #EA4748; /*Sandia*/
	color: #fff;
	padding: 10px 25px;
	font-weight: 700;
}

/*************************************POPULAR/HOT*****************************/
.linea{
	box-sizing: border-box;
	border-bottom: 1px solid #EA4748; /*Sandia*/
	padding: 0;
	margin-left: 15px;
	width: 95%;
}
.linea h3{
	display: inline-block;
	border-bottom: 2px solid #EA4748; /*Sandia*/
	padding: 0;
	margin: 0;
}
.espacio{
	margin-top: 10px;
}
hr{
	margin-top: 0;
}